* {
    font-family: 'Open Sans', sans-serif !important;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
    background:#6cf;
}
body {
    padding-bottom: 100px;
}
html {
    min-height:100%;
    position:relative;
}

.message img {
    width: 100%;
    height: auto;
}

.comment img {
    max-width: 100%;
    height: auto;
}
img {
    image-resolution: 1000dpi; 
}
.badge123 {
    background-image: url("../img/admin.jpg");
    background-size: cover;
    background-position: center center;
    height: 39px;
    width: 158px;

}
.badge123:empty::before {
    content: "\A0";
  }

.third {
    background-color: #B6864D !important;
}

.dark-bg {
    background-color: #101010 !important;
}

.dark-bg-1 {
    background-color: #181818 !important;
}
.dark-bg-2 {
    background-color: #1d1d1d !important;
}
.shadow-lg {
    -webkit-box-shadow: 0px 0px 50px -10px rgba(38, 37, 38, 0.767) 0.575)!important;
-moz-box-shadow: 0px 0px 50px -10px rgba(38, 37, 38, 0.767) 0.575)!important;
box-shadow: 0px 0px 50px -10px rgba(38, 37, 38, 0.767) 0.575)!important;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.dropdown-menu a:hover {
    background-image: none;
    color: #fff;
    background-color: #282828;
}
.dropdown-divider {
    border-top: 1px solid #2d2d2d !important;
}
.nicEdit-main {
    background-color: #282828 !important;
} 
.cover-1 {
      /* The image used */
  background-image: url("https://e0.365dm.com/19/07/2048x1152/skysports-paulo-dybala-juventus_4731993.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
    filter: blur(0) !important;
    -webkit-filter: blur(0) !important;
}