* {
    font-family: 'Open Sans', sans-serif !important;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
    background:#6cf;
}
body {
    padding-bottom: 100px;
}
html {
    min-height:100%;
    position:relative;
}

.message img {
    width: 100%;
    height: auto;
}

.comment img {
    max-width: 100%;
    height: auto;
}
img {
    image-resolution: 1000dpi; 
}
.badge123 {
    background-image: url("../img/admin.jpg");
    background-size: cover;
    background-position: center center;
    height: 39px;
    width: 158px;

}
.badge123:empty::before {
    content: "\A0";
  }

  /* .preloader {
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:99;
    background-color: #333;
    margin:0 auto;
} */

.third {
    background-color: #2ecc71 !important;
}